In [33]:
import pandas as pd
import numpy as np

In [34]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import roc_auc_score , accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [35]:
LRmodel= LogisticRegression()
NNmodel= MLPClassifier()
RFmodel= RandomForestClassifier()

In [36]:
houseloan = pd.read_csv('houseloan.csv')

In [37]:
houseloan.head()

   Feat1   Feat2 Loan
0     31  100000  Yes
1     28  150000  Yes
2     27  110000   No
3     27  175000  Yes
4     21   80000   No

In [38]:
houseloan.describe()

           Feat1          Feat2
count  30.000000      30.000000
mean   30.300000  111533.333333
std     8.047917   23247.889535
min    18.000000   80000.000000
25%    24.250000   95250.000000
50%    28.000000  105000.000000
75%    35.000000  120750.000000
max    51.000000  175000.000000

In [39]:
house_feat = houseloan.iloc[: ,0:2]
house_target = houseloan.iloc[:,2:3]

In [40]:
house_target

   Loan
0   Yes
1   Yes
2    No
3   Yes
4    No
5    No
6    No
7   Yes
8    No
9   Yes
10  Yes
11  Yes
12   No
13   No
14  Yes
15   No
16  Yes
17  Yes
18   No
19  Yes
20   No
21  Yes
22  Yes
23   No
24   No
25  Yes
26  Yes
27  Yes
28   No
29   No

In [41]:
house_target = LabelEncoder().fit_transform(houseloan['Loan'])

In [42]:
house_target

array([1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0])

In [43]:
train_feet, test_feet, train_target, test_target = train_test_split(house_feat, house_target, test_size=0.3, random_state = 6)

In [44]:
NNmodel.fit(train_feet, train_target)
RFmodel.fit(train_feet, train_target)
LRmodel.fit(train_feet, train_target)

LogisticRegression()

In [45]:
NNmodelpred = NNmodel.predict(test_feet)
RFmodelpred = RFmodel.predict(test_feet)
LRmodelpred = LRmodel.predict(test_feet)

In [47]:
print(accuracy_score(test_target, NNmodelpred))
print(accuracy_score(test_target, RFmodelpred))
print(accuracy_score(test_target, LRmodelpred))

0.6666666666666666
0.8888888888888888
0.6666666666666666